<footer class="site-footer">
  <div class="social-links">
    <a class="icon-facebook" href="https://www.facebook.com/dzho.kn" title="Facebook"></a>
    <a class="icon-instagram" href="https://www.instagram.com/dzho.kn/" title="Instagram"></a>
    <a class="icon-linkedin" href="https://www.linkedin.com/in/dzhokn/" title="LinkedIn"></a>            
    <a class="icon-github" href="https://github.com/dzhokn" title="GitHub"></a>
    <a class="icon-robot" href="https://huggingface.co/dzhokn" title="Hugging Face"></a>
  </div>
  <small>© 2025 dzho.kn • Built entirely by AI</small>
</footer> 